*{
    margin: 0;
    padding: 0;
}

div{
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
}

.fjords:hover{
    border: 1px solid black;
}

.forest:hover{
    border: 1px solid black;
}

.nl:hover{
    border: 1px solid black;
}

.mountains:hover{
    border: 1px solid black;
}